NODE_ENV=development
TURSO_DATABASE_URL=//your URL
TURSO_AUTH_TOKEN=myFakeToken
BETTER_AUTH_SECRET=yourBetterAuthSecret
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
GITHUB_CLIENT_ID=yourClientIDonCithubOauth
GITHUB_CLIENT_SECRET=yourSecretForOauthGithub
GOOGLE_CLIENT_ID=yourClientIDForGoogleOauth
GOOGLE_CLIENT_SECRET=yourSecretForGoogleOauth