name: linting CI

on:
  pull_request:
    branches:
      - master
jobs:
  my-job:
    name: my-job
    runs-on: ubuntu-latest
    steps:
      # ...
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      # testing 'act' so I want to create a pull-request
      # run any `bun` or `bunx` command
      - run: bun install
      - run: bun lint
